@model IEnumerable<exam.Models.Helplist>

<h2>Helplist partialview</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name </th>
            <th>Assignment title</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var h in Model)
        {
            <tr>
                <td>@h.User.Name</td>
                <td>@h.Assignment.Title</td>
                <td>@Html.ActionLink("Delete", "Delete", "Helplists", new { id = h.ID }, null)</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/StudentAssignmentJs.js"></script>

    <script>
        var helplistHub = $.connection.helplistHub;

        $.connection.hub.start().done(function ()
        {
            console.log("signalR started from helplist partial");
        });

        helplistHub.client.getHelplist = function (user, assignment)
        {
            //append data
            var deleteString = '@Html.ActionLink("Delete", "Delete")'; //dont work - need id og the helplist-object
            var htmlString = "<tr><td>" + user.Name + "</td><td>" + assignment.Title + "</td><td>" + deleteString + "</td></tr>";

            $("#tableBody").append(htmlString);
        }

    </script>
}


