<h1>Students</h1>

<button type="button" class="btn btn-success addStudentBtn">@Html.ActionLink("Create new student", "Create")</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5</td>
            <td>Met Thi</td>
            <td>john@example.com</td>
            <td>1234</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Lisa Olesen</td>
            <td>lisa@example.com</td>
            <td>123</td>
        </tr>
    </tbody>
</table>

